<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Photo Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button  (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor="let photo of photoService.photos; index as position">
        <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo, position)"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
<!-- <ion-button (click)="addTogroup()" shape="round">Add groupe of plants</ion-button>
  <ion-button (click)="addTogroup2()" shape="round">Add groupe of vegetables</ion-button>
  <ion-button (click)="addTogroup3()" shape="round">Add groupe of fruits</ion-button>-->
  
  <!-- ion-fab markup  -->
  
  <!-- ion-Menu   -->
  <h1> the groupe of plants  </h1>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photoGroup of photoService.photoGroup; index as position">
        <ion-img [src]="photoGroup.webviewPath" (click)="showActionSheet(photo, position)"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>


  <h1> the groupe of vegetables  </h1>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photoGroup2 of photoService.photoGroup2; index as position">
        <ion-img [src]="photoGroup2.webviewPath" (click)="showActionSheet(photo, position)"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>


  <h1> the groupe of fruits  </h1>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photoGroup3 of photoService.photoGroup3; index as position">
        <ion-img [src]="photoGroup3.webviewPath" (click)="showActionSheet(photo, position)"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>